
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="testCases.Customer"/>
       <class name="testCases.Location"/>
          <class name="testCases.Order"/>
           <class name="testCases.Product"/>
             <class name="testCases.Theme"/>
             <class name="testCases.DraftOrder"/>
    </classes>
  </test>
</suite>